// Override this file to add your own SCSS styling.
article { 
  	text-align: right;
 direction: rtl;
}

   .universal-wrapper{  
   text-align: right;
  direction: rtl;
   }
   .article-container{
    text-align: right;
   direction: rtl;
   }
   .container{  
   text-align: right;
   direction: rtl;
   }
   .col-search-close {
    text-align: left;
  }
  .hljs {
    text-align: left;
  }
 
   body {
    text-align: right;
  }

